# 영화 관객 예측

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv("C:/Users/run07/OneDrive/바탕 화면/영화 관객수/DATA/movies.csv")
test = train.drop('release_time',axis=1)

In [3]:
train.head(3)

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083

In [4]:
test.head(3)

,title,distributor,genre,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,123,15세 관람가,장철수,220775.25,4,343,4,6959083

배급사 전처리

In [5]:
train['distributor'] = train.distributor.str.replace("(주)", '')
test['distributor'] = train.distributor.str.replace("(주)", '')

In [6]:
def get_dis(x) :
    if 'CJ' in x or 'CGV' in x :
        return 'CJ'
    elif '쇼박스' in x :
        return '쇼박스'
    elif 'SK' in x :
        return 'SK'
    elif '리틀빅픽' in x :
        return '리틀빅픽처스'
    elif '스폰지' in x :
        return '스폰지'
    elif '싸이더스' in x :
        return '싸이더스'
    elif '에이원' in x :
        return '에이원'
    elif '마인스' in x :
        return '마인스'
    elif '마운틴픽' in x :
        return '마운틴픽처스'
    elif '디씨드' in x :
        return '디씨드'
    elif '드림팩트' in x :
        return '드림팩트'
    elif '메가박스' in x :
        return '메가박스'
    elif '마운틴' in x :
        return '마운틴'
    else :
        return x

In [7]:
train['distributor'] = train.distributor.apply(get_dis)
test['distributor'] = train.distributor.apply(get_dis)
# apply(함수,axis=0 or1)
# 첫번째 인자: 적용하고자 하는 함수 이름
# axis 인자: 함수를 행으로 적용할지 열로 적용할지 정해주는 인자
# 0:행, 1:열

장르별 영화 관객수 평균값으로 랭크 인코딩

In [8]:
train.groupby('genre').box_off_num.mean().sort_values()
# groupby: 주어진 데이터를 그룹 별로 구분하여 데이터를 보기 위해 사용되는 함수

genre
뮤지컬       6.627000e+03
다큐멘터리     6.717226e+04
서스펜스      8.261100e+04
애니메이션     1.819267e+05
멜로/로맨스    4.259680e+05
미스터리      5.275482e+05
공포        5.908325e+05
드라마       6.256898e+05
코미디       1.193914e+06
SF        1.788346e+06
액션        2.203974e+06
느와르       2.263695e+06
Name: box_off_num, dtype: float64

In [9]:
test.groupby('genre').time.mean().sort_values()

genre
애니메이션      82.571429
다큐멘터리      88.053763
멜로/로맨스     96.641026
공포        100.214286
SF        101.384615
미스터리      102.588235
드라마       104.651584
코미디       105.264151
뮤지컬       107.000000
서스펜스      112.000000
액션        114.464286
느와르       115.370370
Name: time, dtype: float64

배급사별 영화 관객수 중위값 기준으로 배급사 랭크 인코딩

In [10]:
train['genre_rank'] = train.genre.map({'뮤지컬' : 1, '다큐멘터리' : 2, '서스펜스' : 3, '애니메이션' : 4, '멜로/로맨스' : 5,
                                      '미스터리' : 6, '공포' : 7, '드라마' : 8, '코미디' : 9, 'SF' : 10, '액션' : 11, '느와르' : 12})
test['genre_rank'] = test.genre.map({'뮤지컬' : 1, '다큐멘터리' : 2, '서스펜스' : 3, '애니메이션' : 4, '멜로/로맨스' : 5,
                                      '미스터리' : 6, '공포' : 7, '드라마' : 8, '코미디' : 9, 'SF' : 10, '액션' : 11, '느와르' : 12})

In [11]:
tr_nm_rank = train.groupby('distributor').box_off_num.median().reset_index(name = 'num_rank').sort_values(by = 'num_rank')
tr_nm_rank

     distributor   num_rank
125   인피니티엔터테인먼트        2.0
51        고구마공작소        8.0
79       사람과 사람들       42.0
115        위드시네마       46.0
54         나우콘텐츠       54.0
..           ...        ...
128      전망좋은영화사  1214237.0
120  이십세기폭스코리아()  1422844.0
83           쇼박스  2138560.0
105       영구아트무비  2541603.0
21   ()아이필름코퍼레이션  3117859.0

[152 rows x 2 columns]

In [12]:
te_nm_rank = test.groupby('distributor').box_off_num.median().reset_index(name = 'num_rank').sort_values(by = 'num_rank')

In [13]:
te_nm_rank

     distributor   num_rank
125   인피니티엔터테인먼트        2.0
51        고구마공작소        8.0
79       사람과 사람들       42.0
115        위드시네마       46.0
54         나우콘텐츠       54.0
..           ...        ...
128      전망좋은영화사  1214237.0
120  이십세기폭스코리아()  1422844.0
83           쇼박스  2138560.0
105       영구아트무비  2541603.0
21   ()아이필름코퍼레이션  3117859.0

[152 rows x 2 columns]

In [14]:
te_nm_rank1 = test.groupby('distributor').time.median().reset_index(name = 'num_rank').sort_values(by = 'num_rank')

In [15]:
te_nm_rank1

         distributor  num_rank
135       크리에이티브컴즈()      61.0
149        한국YWCA연합회      61.0
124           인터콘미디어      63.0
73          머스트 씨 무비      67.0
84             스크린조이      67.0
..               ...       ...
59          두 엔터테인먼트     123.0
83               쇼박스     126.0
140            판다미디어     127.0
98          아방가르드 필름     127.0
116  유니버설픽쳐스인터내셔널코리아     129.0

[152 rows x 2 columns]

In [16]:
tr_nm_rank['num_rank'] = [i + 1 for i in range(tr_nm_rank.shape[0])]

In [17]:
te_nm_rank['num_rank'] = [i + 1 for i in range(te_nm_rank.shape[0])]

In [18]:
tr_nm_rank

     distributor  num_rank
125   인피니티엔터테인먼트         1
51        고구마공작소         2
79       사람과 사람들         3
115        위드시네마         4
54         나우콘텐츠         5
..           ...       ...
128      전망좋은영화사       148
120  이십세기폭스코리아()       149
83           쇼박스       150
105       영구아트무비       151
21   ()아이필름코퍼레이션       152

[152 rows x 2 columns]

In [19]:
te_nm_rank

     distributor  num_rank
125   인피니티엔터테인먼트         1
51        고구마공작소         2
79       사람과 사람들         3
115        위드시네마         4
54         나우콘텐츠         5
..           ...       ...
128      전망좋은영화사       148
120  이십세기폭스코리아()       149
83           쇼박스       150
105       영구아트무비       151
21   ()아이필름코퍼레이션       152

[152 rows x 2 columns]

최종 데이터 병합

In [20]:
train = pd.merge(train, tr_nm_rank, how = 'left')

In [21]:
train

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,genre_rank,num_rank
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,11,138
1,내부자들,쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,12,150
2,은밀하게 위대하게,쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,11,150
3,나는 공무원이다,()NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,9,145
4,불량남녀,쇼박스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,9,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,()NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091,8,145
596,파파로티,쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438,8,150
597,살인의 강,마운틴픽처스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475,7,47
598,악의 연대기,CJ,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525,12,146
599,베를린,CJ,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532,11,146

In [22]:
test = pd.merge(test, te_nm_rank, how = 'left')

In [23]:
test

,title,distributor,genre,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,genre_rank,num_rank
0,개들의 전쟁,롯데엔터테인먼트,액션,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,11,138
1,내부자들,쇼박스,느와르,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,12,150
2,은밀하게 위대하게,쇼박스,액션,123,15세 관람가,장철수,220775.25,4,343,4,6959083,11,150
3,나는 공무원이다,()NEW,코미디,101,전체 관람가,구자홍,23894.00,2,20,6,217866,9,145
4,불량남녀,쇼박스,코미디,108,15세 관람가,신근호,1.00,1,251,2,483387,9,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,()NEW,드라마,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091,8,145
596,파파로티,쇼박스,드라마,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438,8,150
597,살인의 강,마운틴픽처스,공포,99,청소년 관람불가,김대현,NaN,0,123,4,2475,7,47
598,악의 연대기,CJ,느와르,102,15세 관람가,백운학,NaN,0,431,4,2192525,12,146
599,베를린,CJ,액션,120,15세 관람가,류승완,NaN,0,363,5,7166532,11,146

In [24]:
test1 = pd.merge(test, te_nm_rank, how = 'right')

In [25]:
test1

,title,distributor,genre,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,genre_rank,num_rank
0,청아,인피니티엔터테인먼트,드라마,92,청소년 관람불가,김정호,NaN,0,3,4,2,8,1
1,타부 : 금지된 사랑,고구마공작소,멜로/로맨스,78,청소년 관람불가,고구마,17615314.0,1,27,3,8,5,2
2,90분,사람과 사람들,공포,94,청소년 관람불가,박선욱,NaN,0,55,2,42,7,3
3,나의 불행에는 이유가 있다,위드시네마,드라마,86,15세 관람가,한상민,NaN,0,0,4,46,8,4
4,러브멘토,나우콘텐츠,멜로/로맨스,74,청소년 관람불가,신혜성,1556.0,1,0,2,54,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,남자사용설명서,쇼박스,멜로/로맨스,116,15세 관람가,이원석,NaN,0,158,3,507913,5,150
596,상의원,쇼박스,드라마,127,15세 관람가,이원석,NaN,0,456,5,790370,8,150
597,파파로티,쇼박스,드라마,127,15세 관람가,윤종찬,496061.0,1,286,6,1716438,8,150
598,라스트 갓파더,영구아트무비,코미디,103,12세 관람가,심형래,7855474.0,1,31,5,2541603,9,151
599,감기,()아이필름코퍼레이션,드라마,121,15세 관람가,김성수,72.5,2,458,3,3117859,8,152

In [26]:
test.fillna(0)

,title,distributor,genre,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,genre_rank,num_rank
0,개들의 전쟁,롯데엔터테인먼트,액션,96,청소년 관람불가,조병옥,0.00,0,91,2,23398,11,138
1,내부자들,쇼박스,느와르,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,12,150
2,은밀하게 위대하게,쇼박스,액션,123,15세 관람가,장철수,220775.25,4,343,4,6959083,11,150
3,나는 공무원이다,()NEW,코미디,101,전체 관람가,구자홍,23894.00,2,20,6,217866,9,145
4,불량남녀,쇼박스,코미디,108,15세 관람가,신근호,1.00,1,251,2,483387,9,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,()NEW,드라마,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091,8,145
596,파파로티,쇼박스,드라마,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438,8,150
597,살인의 강,마운틴픽처스,공포,99,청소년 관람불가,김대현,0.00,0,123,4,2475,7,47
598,악의 연대기,CJ,느와르,102,15세 관람가,백운학,0.00,0,431,4,2192525,12,146
599,베를린,CJ,액션,120,15세 관람가,류승완,0.00,0,363,5,7166532,11,146

모델링 데이터 구성
- 타겟 값인 관객수를 로그변환
- 상영등급은 더미 변수
- 출연 배우 수는 로그변환

In [27]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error

In [28]:
X = train[['num_rank', 'time', 'num_staff', 'num_actor', 'genre_rank', 'screening_rat']]
y = np.log1p(train.box_off_num)

In [29]:
X

     num_rank  time  num_staff  num_actor  genre_rank screening_rat
0         138    96         91          2          11      청소년 관람불가
1         150   130        387          3          12      청소년 관람불가
2         150   123        343          4          11       15세 관람가
3         145   101         20          6           9        전체 관람가
4         150   108        251          2           9       15세 관람가
..        ...   ...        ...        ...         ...           ...
595       145   111        510          7           8      청소년 관람불가
596       150   127        286          6           8       15세 관람가
597        47    99        123          4           7      청소년 관람불가
598       146   102        431          4          12       15세 관람가
599       146   120        363          5          11       15세 관람가

[600 rows x 6 columns]

In [30]:
y

0      10.060449
1      15.771725
2      15.755558
3      12.291640
4      13.088575
         ...
595    14.204231
596    14.355762
597     7.814400
598    14.600565
599    15.784933
Name: box_off_num, Length: 600, dtype: float64

In [31]:
X = pd.get_dummies(columns = ['screening_rat'], data = X)
# 결측값을 제외하고 0과 1로 구성된 더미값이 만들어짐

In [32]:
X

,num_rank,time,num_staff,num_actor,genre_rank,screening_rat_12세 관람가,screening_rat_15세 관람가,screening_rat_전체 관람가,screening_rat_청소년 관람불가
0,138,96,91,2,11,0,0,0,1
1,150,130,387,3,12,0,0,0,1
2,150,123,343,4,11,0,1,0,0
3,145,101,20,6,9,0,0,1,0
4,150,108,251,2,9,0,1,0,0
...,...,...,...,...,...,...,...,...,...
595,145,111,510,7,8,0,0,0,1
596,150,127,286,6,8,0,1,0,0
597,47,99,123,4,7,0,0,0,1
598,146,102,431,4,12,0,1,0,0
599,146,120,363,5,11,0,1,0,0

In [33]:
X['num_actor'] = np.log1p(X['num_actor'])

In [34]:
X['num_actor']

0      1.098612
1      1.386294
2      1.609438
3      1.945910
4      1.098612
         ...
595    2.079442
596    1.945910
597    1.609438
598    1.609438
599    1.791759
Name: num_actor, Length: 600, dtype: float64

In [35]:
target = test[['num_rank', 'time', 'num_staff', 'num_actor', 'genre_rank', 'screening_rat']]

In [36]:
target

     num_rank  time  num_staff  num_actor  genre_rank screening_rat
0         138    96         91          2          11      청소년 관람불가
1         150   130        387          3          12      청소년 관람불가
2         150   123        343          4          11       15세 관람가
3         145   101         20          6           9        전체 관람가
4         150   108        251          2           9       15세 관람가
..        ...   ...        ...        ...         ...           ...
595       145   111        510          7           8      청소년 관람불가
596       150   127        286          6           8       15세 관람가
597        47    99        123          4           7      청소년 관람불가
598       146   102        431          4          12       15세 관람가
599       146   120        363          5          11       15세 관람가

[600 rows x 6 columns]

In [37]:
target = pd.get_dummies(columns = ['screening_rat'], data = target)

In [38]:
target

,num_rank,time,num_staff,num_actor,genre_rank,screening_rat_12세 관람가,screening_rat_15세 관람가,screening_rat_전체 관람가,screening_rat_청소년 관람불가
0,138,96,91,2,11,0,0,0,1
1,150,130,387,3,12,0,0,0,1
2,150,123,343,4,11,0,1,0,0
3,145,101,20,6,9,0,0,1,0
4,150,108,251,2,9,0,1,0,0
...,...,...,...,...,...,...,...,...,...
595,145,111,510,7,8,0,0,0,1
596,150,127,286,6,8,0,1,0,0
597,47,99,123,4,7,0,0,0,1
598,146,102,431,4,12,0,1,0,0
599,146,120,363,5,11,0,1,0,0

In [39]:
target['num_actor'] = np.log1p(target['num_actor'])

In [40]:
target['num_actor']

0      1.098612
1      1.386294
2      1.609438
3      1.945910
4      1.098612
         ...
595    2.079442
596    1.945910
597    1.609438
598    1.609438
599    1.791759
Name: num_actor, Length: 600, dtype: float64

10Fold로 교차검증

In [41]:
kf = KFold(n_splits =  10, shuffle = True, random_state = 42)

GradientBoostingRegressor 모델 사용

In [42]:
gbm = GradientBoostingRegressor(random_state = 42)

In [43]:
rmse_list = []
gb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    gbm.fit(tr_x, tr_y) # 입력된 데이터의 형태에 맞춰서 데이터를 변환하기 위한 사전 구조 작업
    
    pred = np.expm1([0 if x < 0 else x for x in gbm.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in gbm.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    # sqrt(x) 메서드는 숫자 x의 제곱근을 반환
    # mean_squared_error(): 평균 제곱 오차
    
    rmse_list.append(rmse)
    
    gb_pred += (sub_pred / 10)

In [44]:
np.mean(rmse_list)

1136799.2172945936

In [45]:
gb_pred

array([3.13227194e+04, 3.74640950e+06, 4.49153279e+06, 1.17896768e+05,
       7.72230075e+05, 4.12229390e+05, 1.82846289e+04, 5.69958670e+05,
       4.77743775e+03, 9.93080505e+02, 6.25427691e+02, 1.34669171e+03,
       1.40938521e+03, 1.43936670e+04, 6.19367985e+04, 1.51139700e+04,
       6.73825294e+06, 4.08046685e+04, 3.47252537e+05, 8.08843617e+03,
       1.21182243e+06, 6.55966826e+04, 3.52774267e+03, 4.40500043e+05,
       2.98386121e+03, 9.02835840e+03, 3.20956069e+03, 6.25427691e+02,
       1.98678824e+05, 1.17530676e+03, 5.18940624e+05, 4.10955657e+02,
       9.61304528e+04, 1.45017861e+03, 1.23734928e+06, 4.62913601e+03,
       1.87474685e+03, 9.22790909e+03, 3.77263690e+03, 1.30541625e+06,
       4.42330564e+04, 4.59349353e+04, 7.12110067e+02, 2.07080986e+03,
       1.79016291e+06, 1.02698616e+03, 1.88307934e+05, 5.63842123e+05,
       2.13021793e+06, 2.69373131e+04, 4.92629036e+02, 4.34380345e+05,
       1.63852541e+04, 3.76347944e+04, 5.32805642e+02, 1.81352285e+06,
       2.35009741e+03, 3.55374086e+02, 5.45656253e+05, 1.85412617e+06,
       4.23952744e+05, 6.09839619e+02, 7.46175654e+02, 7.90600250e+05,
       5.11351614e+02, 7.04356412e+05, 1.02355637e+06, 8.40898512e+05,
       2.21821445e+02, 8.26865210e+03, 1.72528735e+03, 6.27076552e+03,
       1.26907992e+04, 1.92391767e+03, 1.58161348e+06, 4.40766678e+03,
       7.53379588e+05, 6.94700118e+03, 5.03913927e+05, 6.62946953e+02,
       1.78418975e+03, 6.22538734e+05, 3.12308499e+05, 3.19857615e+03,
       2.11176656e+05, 4.63331272e+03, 1.55424080e+06, 1.61625498e+03,
       2.73663903e+03, 4.33310944e+03, 1.42657151e+06, 3.63129700e+06,
       1.40082349e+04, 3.46158670e+02, 5.21385614e+03, 1.31569343e+03,
       5.05111735e+03, 6.40763178e+04, 1.02417536e+05, 1.43253673e+04,
       8.92995139e+05, 2.40797911e+06, 3.14887072e+03, 3.37504754e+05,
       1.72733094e+05, 4.63344792e+05, 1.90021614e+04, 1.74989165e+03,
       2.63046850e+03, 4.39028936e+03, 1.62021091e+06, 1.13489906e+03,
       2.72937182e+06, 2.31658966e+03, 1.92067843e+05, 3.27884333e+03,
       1.40553051e+06, 3.91640219e+04, 1.42100085e+06, 3.01858395e+05,
       7.80320371e+02, 1.30776079e+03, 2.54732100e+06, 3.71011797e+05,
       2.82167568e+06, 1.67746012e+03, 5.88394712e+03, 1.54527522e+03,
       2.36582585e+06, 5.08362926e+04, 3.62153859e+04, 1.18868736e+05,
       1.13255866e+06, 5.41490563e+04, 4.08365069e+04, 3.84368778e+05,
       3.82495437e+03, 1.66367710e+05, 1.33403477e+05, 4.21635314e+06,
       2.30758548e+05, 1.14921834e+04, 3.32131147e+05, 1.01607365e+04,
       9.80264109e+03, 4.77480262e+03, 4.43641130e+05, 1.71250093e+03,
       4.33363223e+05, 2.37811282e+03, 1.74411905e+04, 3.14497709e+03,
       2.95460080e+02, 8.33229807e+02, 1.83876894e+03, 8.89397083e+02,
       6.32177174e+05, 6.04842956e+05, 1.84987327e+03, 8.95753774e+02,
       3.40995400e+03, 5.54503858e+05, 9.28331083e+02, 3.69357753e+02,
       7.47103549e+04, 3.65281402e+02, 4.80669630e+05, 2.58443229e+03,
       2.12867858e+02, 2.23216991e+06, 1.30202739e+05, 8.92009822e+02,
       1.51590051e+03, 4.00927436e+03, 8.59485924e+05, 1.19211928e+03,
       1.26689708e+03, 5.69936430e+01, 3.73349784e+06, 8.51709975e+04,
       6.55810604e+05, 9.77479691e+05, 4.16929706e+05, 8.45357802e+05,
       2.46498381e+05, 3.51502464e+03, 1.24119392e+05, 1.35738214e+03,
       4.25382500e+02, 1.09709633e+05, 2.69761658e+05, 3.98710569e+03,
       3.61997503e+05, 5.03486733e+01, 3.86072261e+02, 3.23863409e+04,
       1.96557561e+03, 2.77993138e+04, 2.12812445e+03, 1.02502961e+02,
       1.41543595e+05, 3.15026958e+06, 3.23069595e+03, 4.70735056e+03,
       8.11407410e+03, 3.66003945e+04, 2.14294626e+05, 1.07943799e+03,
       6.60059940e+05, 1.72407498e+06, 4.43508359e+03, 2.20590231e+03,
       3.08984519e+03, 4.39676797e+03, 1.77548275e+06, 7.63196632e+02,
       1.93788300e+03, 7.25556927e+04, 1.15659464e+06, 2.33771267e+06,
       3.97098757e+06, 2.17306285e+03, 9.82512506e+02, 1.83713388e+03,
       1.24326116e+03, 1.15162194e+03, 1.09727254e+06, 3.46436231e+03,
       5.28839207e+04, 2.85218323e+03, 4.57033455e+05, 1.17128898e+04,
       1.24480610e+03, 2.46885628e+02, 1.58193882e+03, 2.11739214e+03,
       8.16346432e+02, 2.71525638e+03, 2.23958323e+03, 1.86269977e+03,
       2.31712194e+03, 1.86612697e+03, 3.10919028e+03, 3.40754447e+03,
       1.68277448e+06, 3.97394817e+04, 2.17735642e+03, 4.29810081e+03,
       1.14383375e+03, 1.45133104e+03, 4.64869544e+03, 1.49192651e+03,
       8.86319522e+05, 2.28935096e+03, 5.29695499e+05, 7.56859801e+04,
       1.80281142e+03, 2.51283162e+03, 4.14696911e+04, 2.48201589e+04,
       5.63958874e+02, 3.38739905e+05, 5.95068925e+02, 3.60499604e+02,
       5.82655461e+04, 4.36813776e+02, 1.75060320e+03, 3.54247626e+05,
       4.34150653e+05, 1.71648954e+05, 3.88722011e+05, 7.29500942e+03,
       3.47708523e+03, 6.97848065e+05, 3.50708760e+03, 8.57126934e+02,
       5.41832082e+02, 4.48741872e+02, 2.08492493e+06, 3.04739365e+03,
       4.35242056e+03, 5.17746868e+03, 7.41025086e+03, 4.22564596e+02,
       9.47802016e+02, 5.98645318e+02, 2.13089180e+03, 1.55670382e+06,
       2.72149060e+05, 1.01720815e+04, 6.22215916e+03, 3.51714643e+03,
       2.16573493e+05, 2.00818521e+03, 1.74202480e+02, 9.35869175e+02,
       2.05198280e+03, 1.91948248e+06, 7.93762636e+05, 5.59803836e+04,
       5.60999104e+05, 1.03015490e+05, 4.28118612e+03, 1.88073740e+05,
       6.85202232e+03, 1.65538590e+03, 1.23952814e+04, 2.49613438e+03,
       1.54521150e+03, 1.41979397e+03, 6.36590788e+05, 3.24487858e+03,
       8.81139408e+03, 8.41657411e+05, 1.18625045e+03, 2.34957737e+03,
       8.05790145e+02, 4.95525586e+03, 6.75133490e+05, 9.30759007e+02,
       4.48830523e+06, 4.74636574e+04, 2.17381186e+06, 1.19681514e+03,
       5.56215402e+00, 7.69120271e+03, 8.53597609e+05, 8.82364936e+03,
       6.18388624e+04, 2.54584438e+04, 5.39477590e+05, 2.05658161e+04,
       5.20578487e+03, 2.34368982e+03, 6.80576966e+03, 4.88868030e+03,
       1.33583062e+03, 1.35850661e+05, 1.04532562e+01, 3.60333749e+03,
       1.56534911e+05, 1.82118118e+03, 5.87635731e+03, 1.38581290e+04,
       5.12539088e+04, 5.75971657e+02, 1.24827298e+05, 8.41178761e+03,
       1.30872580e+05, 1.05649562e+03, 6.27095891e+05, 2.45228938e+03,
       8.53325029e+05, 1.96667619e+06, 1.28204494e+04, 1.72466840e+03,
       4.18423423e+05, 2.19135294e+05, 2.07479089e+05, 1.85386294e+03,
       3.32660314e+06, 1.73674124e+06, 1.02482227e+07, 3.89962227e+03,
       8.55151741e+03, 7.96780036e+04, 1.01768365e+04, 2.57398251e+05,
       1.01656639e+03, 1.53779116e+04, 9.46978548e+02, 5.79473001e+03,
       7.80411416e+06, 1.39049383e+03, 4.81199162e+02, 1.33649199e+03,
       1.17157569e+03, 2.03258372e+06, 6.29494189e+05, 3.66064534e+05,
       1.99100731e+05, 1.48430146e+05, 2.56445721e+05, 3.24828480e+04,
       8.50993872e+04, 6.49242472e+02, 7.77940227e+02, 9.93246028e+04,
       1.41598394e+06, 1.29304390e+04, 4.66075300e+04, 1.89489833e+03,
       2.10018168e+03, 1.15158228e+06, 4.30424537e+03, 7.50331816e+05,
       3.22633693e+05, 1.42877698e+06, 1.28391080e+06, 1.48847543e+06,
       4.02712625e+05, 1.16512996e+03, 5.55408467e+02, 1.62092323e+04,
       1.42619233e+03, 1.16192850e+03, 1.78258740e+04, 8.11407410e+03,
       4.87898317e+05, 1.67527429e+06, 1.46279332e+02, 7.77533549e+02,
       1.99827520e+06, 3.85388802e+03, 3.12634079e+03, 1.14003432e+03,
       3.03913349e+02, 2.11593159e+06, 4.26483289e+03, 2.83710475e+03,
       8.29746302e+05, 4.17698645e+03, 1.62274512e+06, 7.67950341e+02,
       1.04583165e+03, 1.20844804e+03, 2.65934548e+02, 9.80494046e+02,
       7.82465492e+01, 2.09409508e+06, 1.16837683e+03, 5.31178275e+05,
       2.24762362e+02, 2.84129375e+05, 1.77650414e+06, 1.17936860e+06,
       6.67901488e+03, 1.00518713e+04, 2.85551663e+04, 1.08155362e+04,
       6.45451631e+02, 3.17927514e+03, 2.66420552e+06, 2.98652509e+03,
       8.00807251e+02, 1.30404123e+06, 1.11620207e+06, 4.12839777e+03,
       4.41638791e+01, 2.37655775e+03, 2.47669498e+03, 1.00245379e+03,
       2.43534180e+05, 1.47123416e+02, 1.65590167e+04, 2.01830901e+06,
       6.60086804e+01, 7.74913318e+03, 1.11023073e+06, 7.01543337e+02,
       2.64059296e+06, 1.12997069e+04, 1.11339411e+03, 1.05109022e+06,
       1.23436361e+04, 1.44634547e+05, 3.47553556e+05, 1.53513864e+05,
       3.80650522e+05, 5.71875283e+04, 8.66758954e+02, 1.88128277e+03,
       2.43889173e+06, 1.76320862e+06, 7.35876116e+02, 2.11573021e+05,
       3.35218077e+06, 2.86154142e+06, 3.25766278e+05, 4.58709465e+02,
       4.67080832e+02, 7.34670183e+02, 8.44325909e+02, 5.71215474e+02,
       1.44205826e+03, 2.11995794e+06, 1.88755023e+06, 1.95252731e+06,
       1.24045240e+03, 7.54925989e+05, 1.16964161e+03, 1.50957468e+06,
       1.70791188e+03, 3.31584967e+03, 3.19809734e+05, 2.80564669e+04,
       1.73291187e+06, 3.65582032e+03, 6.03549733e+06, 4.31119622e+05,
       3.95859221e+02, 1.32547035e+03, 2.57198909e+04, 1.01956649e+03,
       1.02094873e+03, 6.40876981e+06, 1.92214852e+04, 1.62549018e+06,
       2.92773547e+04, 3.70244568e+03, 8.15578715e+02, 1.98980163e+03,
       6.69715721e+05, 1.26734828e+06, 7.82874649e+02, 8.05960811e+02,
       9.58052343e+05, 1.33020034e+05, 3.11382157e+04, 3.88292864e+03,
       4.54985940e+05, 1.54624364e+03, 2.51121839e+05, 1.51684286e+03,
       9.55210358e+02, 3.51659946e+03, 3.10047152e+04, 1.03388063e+06,
       1.00212706e+05, 6.00795352e+02, 8.90788038e+06, 7.12798101e+05,
       7.23952742e+05, 1.72175594e+03, 3.82128427e+03, 1.09022440e+06,
       1.24117870e+06, 2.57332522e+04, 2.04555156e+03, 1.04679703e+06,
       5.88469474e+04, 2.74781445e+03, 6.43878681e+02, 1.39253450e+06,
       7.67998252e+02, 1.94402907e+03, 1.01636418e+03, 3.45249828e+05,
       1.70697262e+05, 2.88186348e+03, 1.89263977e+03, 6.14208963e+04,
       2.33736119e+05, 6.12193120e+03, 1.81541276e+02, 1.60478367e+03,
       3.67714144e+03, 4.17100410e+04, 1.94415267e+03, 1.38037727e+06,
       7.78931727e+04, 6.38200945e+05, 5.92300762e+03, 2.49480015e+04,
       5.92168034e+05, 1.93915189e+03, 9.84113609e+05, 4.17077952e+02,
       5.94138927e+05, 2.84245034e+03, 1.13880761e+05, 4.42322110e+04,
       8.48270272e+02, 2.44396479e+03, 1.47495852e+02, 1.72579972e+02,
       2.30847572e+06, 3.87420788e+03, 3.06988591e+04, 9.79876318e+02,
       6.56451237e+04, 1.29340214e+03, 1.45101133e+05, 1.13099655e+05,
       3.28944551e+05, 7.54062896e+02, 8.50832633e+02, 5.85509426e+03,
       1.58375988e+06, 2.01648392e+06, 4.66224988e+04, 5.04413440e+04,
       1.03984560e+06, 1.03372641e+03, 1.49758901e+03, 1.11207778e+06,
       2.04691565e+06, 2.63415671e+03, 9.84513324e+05, 2.53990717e+06])

In [46]:
gb_pred.shape

(600,)